html, body {
    margin: 0px !important;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(6, 57, 108);
    /* --primary-color: rgb(240, 207, 63); */
    --primary-color: rgb(204, 178, 60);
    
}

h1, h2, h3, h4 {
    font-family: 'Electrolize', sans-serif;
}

h5, h6 {
    font-family: 'Lato', ;
}

h5, h6, p, a {
    font-family: 'Lato', sans-serif;
}

.text-main-color {
    color: var(--main-color) !important;
}

.bg-main-color {
    background-color: var(--main-color);
}

.bg-black {
    background-color: black;
}

.b-main-color {
    border-color: var(--main-color) !important;
}

.b-primary-color {
    border-color: var(--primary-color) !important;
}

.b-black {
    border-color: black;
    border: solid 0px !important;
}

/* ----- Header --------------------------- */
.header {
    background: url(./media/header.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-overlay {
    background-color: rgba(6, 57, 108, 0.65);
    width: 100%;
    height: 100vh;
}

/* ----- Background Power Lorem ----------------- */
.background-power-lorem {
    background: linear-gradient( rgba(6, 57, 108, 0.35), rgba(6, 57, 108, 0.65)), url(./media/power-plant-4712830_1280.jpg);
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ---- Panel Sotto Power Lorem (Left Col) -------- */
.img-panel-custom {
    height: 350px;
    width: auto;
}

@media screen and (max-width: 530px) {
    .img-panel-custom {
        height: 200px;
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .img-panel-custom {
        position: relative;
        left: -25px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .img-panel-custom {
        position: relative;
        left: -55px;
    }
}




.panel-custom {
    border: 5px solid #fff;
    position: relative;
    top: -80px;
    left: 60px;
}

@media screen and (max-width: 768px) {
    .panel-custom {
        border: 5px solid #fff;
        position: relative;
        top: -40px;
        left: 20px;
    }
}

/* ----- TITLE CUSTOM  ------------------------- */
#title-header {
    font-size: 5em !important;
}


.title-custom-size {
    font-size: 10vw !important;
    letter-spacing: 0px;
}


@media screen and (max-width: 500px) {
    
    .title-custom-size {
        font-size: 15vw !important;
        letter-spacing: 0px;
    }
    
}

@media screen and (min-width: 768px) {
    
    .title-custom-size {
        font-size: 6.5vw !important;
        letter-spacing: 0px;
    }
    
}

/* ------------------------------------------ */

.h-30-custom {
    height: 30px !important;
}

.h-50-custom {
    height: 50px !important;
}

.h-70-custom{
    height: 70px !important;
}

.h-70 {
    height: 70% !important;
}

.h-100-custom {
    height: 100px !important;
}

.h-270-custom {
    height: 270px !important;
}

.w-30-custom {
    width: 30px !important;
}

.w-50-custom {
    width: 50px !important;
}

.w-70-custom{
    width: 70px !important;
}

.w-100-custom {
    width: 100px !important;
}
/* ----- OFFCANVAS  ------------------------- */

#offcanvas-custom {
    width: 54% !important;
}

@media screen and (max-width: 575px){
    #offcanvas-custom {
        width: 100% !important;
    }
}

#offcanvas-customLabel {
    font-size: 14vw !important;
    font-weight: bold !important;
    color: var(--main-color);
}

@media screen and (min-width: 576px) {
    
    #offcanvas-customLabel {
        font-size: 8.5vw !important;
        font-weight: bold !important;
        color: var(--main-color);
    }
    
}

/* ------------------------------------------ */

.apice {
    position: relative;
}

.apice::before {
    content: ' ‘‘ ';
    font-family: 'Lato', sans-serif;
    color: var(--main-color);
    letter-spacing: -5px;
    font-size: 100px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    top: -10px;
    left: -40px;
}

.boldo {
    font-weight: 900;
}

.border-bottom-custom {
    border-bottom: 2px solid var(--primary-color);
}

@media screen and (min-width: 768px) {
    .border-bottom-custom {
        border-bottom: 0px solid var(--primary-color);
    }
}

.z-index-999 {
    z-index: 999;
}

.z-index-2 {
    z-index: 2;
}

/* --------------------------------------- */

.font-electro {
    font-family: 'Electrolize', sans-serif;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

.text-gray {
    color: rgb(119, 119, 119);
}

.text-gray-light {
    color: rgb(145, 145, 145);
}

/* -------------------------------------- */

.img-map-custom {
    height: auto;
    width: 550px;
}

@media screen and (min-width: 1200px) {
    .img-map-custom {
        height: auto;
        width: 550px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .img-map-custom {
        height: auto;
        width: 450px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .img-map-custom {
        height: auto;
        width: 350px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .img-map-custom {
        height: auto;
        width: 500px;
    }
}

@media screen and (min-width: 375px) and (max-width: 575px) {
    .img-map-custom {
        height: auto;
        width: 350px;
    }
}

@media screen and (max-width: 374px) {
    .img-map-custom {
        height: auto;
        width: 250px;
    }
}

/* ----- SPACER CUSTOM (ID) -------------------- */

.spacer-custom {
    height: 50px;
}

/* ----- CARDS CUSTOM (ID) -------------------- */

.card {
    background-color: black;
    margin: 20px 20px;
    border: none !important;
}

.card::before {
    content: " ";
    background: linear-gradient(90deg, rgba(6, 57, 108, 0.45) 1%, rgba(6, 57, 108, 0.1) 40%, rgba(6, 57, 108, 0.0) 100%);
    position: absolute;
    top: -20px;
    left: -25px;
    height: 170px;
    width: 300px;
    
}


#card-1 {
    background:url('http://picsum.photos/500/200');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#card-2 {
    background:url('http://picsum.photos/500/201');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#card-3 {
    background:url('http://picsum.photos/500/199');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#card-4 {
    background:url('http://picsum.photos/499/200');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* ----- FINE CARDS CUSTOM (ID) -------------------- */


/* ----- SOME STUFF -------------------------------- */

.card-stuff {
    position: relative;
    background-color: yellow;
    margin: 20px 20px;
    border: none !important;
    border-radius: 0px !important;
}

.card-stuff::before {
    content: " ";
    background: linear-gradient( rgba(6, 57, 108, 0.2), rgba(6, 57, 108, 0.8) 70%, rgba(6, 57, 108, 1) 100%);
    position: absolute;
    top: 0px !important;
    left: 0px !important;
    height: 100% !important;
    width: 100% !important;
    
}

.sovrapposizione {
    position: absolute;
    top: 220px;
}

#card-sun{
    background: url(./media/sun.png);
    background-position: center;
    background-size: cover;
}

#card-wind{
    background: url(./media/wind.png);
    background-position: center;
    background-size: cover;
}

#card-wave{
    background: url(./media/wave.png);
    background-position: center;
    background-size: cover;
}

#card-gas{
    background: url(./media/gas.png);
    background-position: center;
    background-size: cover;
}

#card-oil{
    background: url(./media/oil.png);
    background-position: center;
    background-size: cover;
}

#card-atom{
    background: url(./media/atom.png);
    background-position: center;
    background-size: cover;
}

.card-download {
    background-color: white !important;
    margin: 20px 20px;
    border: none !important;
    box-shadow: 0px 5px 15px 0px rgba(10,10,10,0.2);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(10,10,10,0.2);
    -moz-box-shadow: 0px 5px 15px 0px rgba(10,10,10,0.2);
}

.card-download::before {
    all: unset !important;
    
}

/* ------ MIA PROGRESSIVE BAR ---------------------- */
.h-bar-custom {
    height: 10px;
}

/* ------ FOOTER ---------------------------------- */
.icon-footer {
    height: 2.125rem;
    width: auto;
}

#div-blu-footer {
    position: relative;
    top: -80px;
    bottom: 0px;
}

@media screen and (max-width: 767px) {
    #div-blu-footer {
        position: relative;
        top: 0px;
        bottom: 0px;
    }
    
}

.footer-custom{
    height: 450px ;
}